*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
	font-family: 'Star Wars';
	src:url(fonts/Star\ Wars.ttf);
}


header{
	font-family:'Star Wars';
	font-size: 40px;
	text-align: center;
	margin-bottom: auto;
	padding-top: 10px;
	background-color: black;
	color: white;
	margin-top: 0;
	border-bottom: solid white 2px;

	
}

header p{
	font-family: 'Courier New';
	font-size: 10px;
}

body{
	background-image: url(../assets/images/backgrounds/planetsBackground.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}

.Home_button{
	padding: 10px;
	color: yellow;
	background-color: black;
	border-radius: 20px;
	border: 2px solid white;
	align-items: center;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}


.PlanetList {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0 auto; 
    max-width: 800px; 
    padding: 20px;
}

.PlanetList div {
    border: 2px solid white;
    margin: 20px;
    padding: 10px;
	width: 80vh;
	background: black;
	
}

.PlanetList img {
    width: 400px;
    height: auto;
    margin: 0 auto;
	border: 2px solid black; 
    display: block;
	margin: 10px;
}

.PlanetList p {
    background: lightblue;
    color: white;
    text-align: center; 
	border: 2px solid black;
}

.PlanetList h2 {
    text-align: center; 
	background: darkblue;
	color: white;
	border: 2px solid white;
	margin: 10px;
}
