*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	cursor: pointer;
}

header{
	font-family:'Star Jedi';
	text-align: center;
	margin-bottom: auto;
	padding-top: 10px;
	
}

.Category_container{
	display: grid;
	grid-template-columns : repeat(2, 1fr);
	gap: 20px;
	padding: 20px;
	margin: 10px;
	align-items: center;
	

}

.Category_card{
	border: 2px solid black;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
	align-items: center;
	justify-content: center;

}

.Category_card img{
	width: 400px;
	height: auto;
	align-items: center;
	justify-content: center;

	

}

.Category_title{
	padding: 10px;
	border: 2px solid white;
	color: white;
	background-color: black;
	border-radius: 20px;
}

.Category_visit{
	padding: 10px;
	border: 2px solid white;
	color: white;
	background-color: black;
	border-radius: 20px;
	text-decoration: none;
}